<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="somostechies.chat" android:versionCode="1" android:versionName="0.1.0">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application android:label="Techiechat" android:icon="@drawable/icon">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyA8-rW0BeuvmVnSxbZp5QvUGWV6_zYGuuY" />
	  <permission android:name="somostechies.chat.permission.C2D_MESSAGE"
	              android:protectionLevel="signature" />
	  <uses-permission android:name="somostechies.chat.permission.C2D_MESSAGE" />
	  <receiver android:name="com.onesignal.GcmBroadcastReceiver"
	            android:permission="com.google.android.c2dm.permission.SEND" >
	    <intent-filter>
	      <action android:name="com.google.android.c2dm.intent.RECEIVE" />
	      <category android:name="somostechies.chat" />
	    </intent-filter>
	  </receiver>
  </application>
</manifest>